<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Basic Assignment 3(directives) , done by Eugene </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <ol>
        <li>Add A button which says 'Display Details'</li>
        <li>Add a paragraph with any content of your choice (e.g. 'Secret Password = tuna')</li>
        <li>Toggle the displaying of that paragraph with the button created in the first step</li>
        <li>Log all button clicks in an array and output that array below the secret paragraph (maybe log a timestamp or simply
          an incrementing number)</li>
        <li>Starting at the 5th log item, give all future log items a blue background (via ngStyle) and white color (ngClass)</li>
      </ol>
    </div>
  </div>

  <hr>
  <div class="row">
    <div class="col-xs-4">
      <button class="btn btn-primary" (click)="onLogDetails()">
        Display Details
      </button>
    </div>
    <div class="col-xs-8">
      <p *ngIf="toggle"> message: {{message}}</p>
    </div>
  </div>  

  
    <div *ngFor="let line of log index as i" > 
       <div [ngClass]= "{'whiteclass': i>5 , 'redclass': i>10}">
       <li [ngStyle]="{'background-color': i>5?'blue':'white' }" >{{i}} - {{message}} {{getBgColor()}} 
        </div>  
       
    </div>
  

</div>